.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 0 -10px; */
    gap: 20px;
}

.theme-card {
    /* border: 1px solid #fefefe; */
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    transition: transform 0.2s;
    /* background: #fff; */
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    max-width: 170px;
    height: 100%;
    text-wrap: nowrap;
    gap: 0px;
    line-height: normal;
}

.theme-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.theme-card img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}

.theme-card .card-block {
    text-align: center;
}

.theme-card .card-title {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

.theme-card .card-text {
    color: #666;
    font-size: 0.9em;
}

.theme-card a {
    text-decoration: none;
    color: inherit;
}

.theme-card .github-button {
    position: relative;
    display: block;
    text-align: center;
    margin-top: 10px;
    background: #a3a3a3;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    color: #fff;
    border-radius: 8px;
    font-size: 14px;
    padding: 6px 0;
    padding-left: 20px;
}

.theme-card .github-button:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
}

.theme-card .github-button:hover {
    color: #fff;
}
